.container__nav{
    width: 92%;
    margin: auto;
}

.container__nav .main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    height: auto;
    margin: 20px auto;

}

.main-nav-img {
    width: 50%;
    overflow: hidden;
    height: 70px;
}

.main-nav-img img {
    width: auto;
    height: 70px;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: row!important;
    width: 20%;
}

.link {
    display: flex;
    justify-content: inherit;
    text-decoration: none;
    color: #ff6060;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width:1440px) {

    .links {
        width: 25%;
    }

}

@media screen and (max-width:1200px) {

    .links {
        width: 35%;
    }

}

@media screen and (max-width:750px) {

    .container__nav .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: auto;
        margin-right : auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .main-nav-img {
        width: 50%;
        overflow: hidden;
        height: 40px;
    }

    .main-nav-img img {
        width: auto;
        height: 40px;
    }

    .links {
        display: flex;
        justify-content: space-between;
        flex-direction: row !important;
        width: 45%;
    }

    .link {
        display: flex;
        justify-content: inherit;
        text-decoration: none;
        color: #ff6060;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }
}