.container {
    display: flex;
    justify-content: center;
    margin: 60px 1em;
}

.location__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    background: #f6f6f6;
    border-radius: 25px;
}


/* @media screen and (max-width: 820px) {

    .location__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
  
}

@media screen and (max-width: 520px) {

    .location__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
  
} */

@media screen and (max-width:390px) {
    .location__list {
        background: none;
        margin: 0;
        padding: 0;
    }
    .container{
        margin-top: 0;
    }
}