.bloc-404 {
    display: flex;
    justify-content: center;
    min-height: 760px;
}

.text-404 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    margin-top: 150px;
    /* line-height: 20px; */
    color: #ff6060;
}

.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #ff6060;
    text-align: center;
}

.back-home {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #ff6060;
    text-align: center;
}
