.bloc-404 {
    display: flex;
    justify-content: center;
    min-height: 760px;
}

.bloc-404 .text-404 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    line-height: 20px;
    color: #ff6060;
}

.bloc-404 .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #ff6060;
    text-align: center;
}

.bloc-404 .back-home {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #ff6060;
    text-align: center;
}
